body {
  background-color: black;
  color: white;
  font-size: 1.5em;
}
/* .create_path {
  background-image: url("./images/");
  background-size: cover;
  height: 80vh;
} */

.row-center-between {
  display: flex;
  width: 52%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.Routes_box {
  background-image: url("./images/crud_gold.png");
  background-size: cover;
  height: 80vh;
}

#menu {
  display: flex;

  justify-content: center;
  width: 100vw;
}
.linkTag {
  font-size: 1.5em;
  color: snow;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
