.row-center-between {
  display: flex;
  width: 38vw;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#menu {
  display: flex;
  align-self: center;
  background-color: green;
}

#app {
  display: flex;
  flex-direction: column;
  background-color: Yellow;
  padding: 12px;
}
